
@{
    ViewBag.Title = "SMRDataLogsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/public/liveReportCSS/custom.css" rel="stylesheet" />
<style>
    .scroll {
        width: 20px;
        height: 12px;
        overflow: auto;
        margin: 0 10px;
    }

    .scroll4::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    .scroll4::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }

    .scroll4::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }

    .panel-heading {
        cursor: pointer;
    }

    div#container {
        height: 400px;
        width: 400px;
        border: 2px solid #000;
        overflow: scroll;
    }

    .accordion-toggle:after {
        font-family: 'FontAwesome';
        content: "\f077";
        float: right;
        color: inherit;
    }

    .panel-heading.collapsed .accordion-toggle:after {
        content: "\f078";
    }

    .box-body {
        padding: 0px;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
    }

    #slideOut {
        position: fixed;
        width: 230px;
        height: 800px;
        top: 147px;
        right: -230px;
        /* Animation  */
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        z-index: 999;
    }


    /* Display slideOut */

    .showSlideOut {
        right: 0px !important;
    }


    /* Tab */

    .slideOutTab {
        margin-top: 50px;
        position: absolute;
        left: -40px;
        height: 200px;
        width: 40px;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        background: #F2AB34;
        border-radius: 15px 0px 0px 15px
    }

        .slideOutTab div {
            text-align: center;
            position: relative;
            right: 70px;
            top: 90px;
            background: #F2AB34;
            width: 180px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            writing-mode: lr-tb;
        }


    h2 {
        font-size: 18px;
    }

    .dbbgcolor1 {
        background-color: #03a9f4;
    }

    .dbbgcolor2 {
        background-color: #ffc107;
    }

    .dbbgcolor3 {
        background-color: #d559ea;
    }

    .dbbgcolor4 {
        background-color: #ff5652;
    }

    .dbbgcolor5 {
        background-color: #69afff;
    }

    .dbbgcolor6 {
        background-color: #4edec1;
    }

    .dbbgcolor7 {
        background-color: #ffc107;
    }

    .dbbgcolor8 {
        background-color: #d559ea;
    }

    .dbbgcolor9 {
        background-color: #ff5652;
    }

    ul.multiselect-container.dropdown-menu {
        height: 121px;
        overflow: auto;
    }

    .tile-stats span {
        margin-top: 5px;
        font-size: 12px;
    }

    .boxes {
        margin: 6px;
    }

    .x_title h2 {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    #myTab {
        margin-bottom: 0px;
    }

        #myTab > li {
            /* width: 110px;
        word-wrap: break-word;*/
            border-bottom: 2px solid #fff;
        }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 3px;
        line-height: 1;
        vertical-align: top;
        border-top: 1px solid #ddd;
        color: #000 !important;
        font-size: 13px;
        background-color: #fff;
    }

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info {
        font-size: 12px;
    }

    .nav-tabs > li > a:hover {
        border-color: #b14b4b #b93131 #b33;
        color: #000;
    }

    .donloadClass {
        text-align: center;
        position: relative;
        margin-top: 38px;
        margin-left: 0px;
        font-size: medium;
    }

    .html5buttons {
        display: none;
    }
</style>

<!-- Model POP up Start -->
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12 col-xs-12 SMRdownloadmodalclick" data-toggle="modal" data-target="#SMRDownloadModal" data-id="1">
                <div class="panel panel-primary" style="text-align: center; cursor:pointer">
                    <div class="panel-heading">Call History</div>
                    <div class="panel-body" style="height: 88px;">
                        <h2>Call History Logs</h2>
                    </div>

                </div>
            </div>

            <div class="col-md-3 col-md-3 col-sm-12 col-xs-12 SMRdownloadmodalclick" data-toggle="modal" data-target="#SMRDownloadModal" data-id="2">
                <div class="panel panel-primary" style="text-align: center; cursor:pointer">
                    <div class="panel-heading">Call Summary</div>
                    <div class="panel-body" style="height: 88px;">
                        <h2>Call Summary Report</h2>

                    </div>

                </div>
            </div>

            <div class="col-md-3 col-md-3 col-sm-12 col-xs-12 SMRdownloadmodalclick" data-toggle="modal" data-target="#SMRDownloadModal" data-id="3">
                <div class="panel panel-primary" style="text-align: center; cursor:pointer">
                    <div class="panel-heading">Interaction Summary</div>
                    <div class="panel-body" style="height: 88px;">
                        <h2>SMS Interaction Summary</h2>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Model popup window Start -->
<!-- **** Model popup CallHistory **** -->
<div class="modal fade" id="SMRDownloadModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;background-color: #106A86;color: #fff;">
                <button type="button" class="close" data-dismiss="modal" style="opacity:2;">
                    <img src="~/public/images/close1.png" alt="X">
                </button>
                <h4 class="modal-title" id="SMRdwnldmodaltitle">Call History Logs Filters</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <div id="smrcalldateDiv" style="display:none;">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label id="lblsmrcalldatefrom">CallDate From</label>
                                    <input id="smrfromdate" readonly type="text" class="datepickerfrom form-control input-sm">
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label id="lblsmrcalldateto">CallDate To</label>
                                    <input id="smrtodate" readonly type="text" class="datepickerto form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4" id="smrcampaignDiv" style="display:none;">
                            <div class="form-group">
                                <label>Campaign Name</label>
                                @Html.DropDownList("smrcampaign", new SelectList(ViewBag.ddlcampaignList, "id", "CampaignName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @id = "smrcampaign" })
                            </div>
                        </div>

                        <div class="col-xs-4" id="smrworkshopDiv" style="display:none;">
                            <div class="form-group">
                                <label>Workshop Name</label>
                                @Html.DropDownList("smrWorkshop", new SelectList(ViewBag.ddlWorkshop, "workshopId", "workshopName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @id = "smrWorkshop" })

                            </div>
                        </div>
                        <div class="col-xs-4" id="smrcreDiv" style="display:none;">
                            <div class="form-group">
                                <label>CRE</label>
                                @Html.DropDownList("smrcre", new SelectList(ViewBag.ddlcres, "id", "creName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @id = "smrcre" })

                            </div>
                        </div>
                        <div class="col-xs-4" id="smrsmssendtypeDiv" style="display:none;">
                            <div class="form-group">
                                <label>SMSSend Types</label>
                                <select class="selectpickerAll form-control" name="Smsinteractiontype" id="Smsinteractiontype" ;" multiple>
                                    <option value="WhatsApp Msg"> WhatsApp Msg</option>
                                    <option value="Text Msg"> Text Msg</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-xs-4" id="smrstatustypeDiv" style="display:none;">
                            <div class="form-group">
                                <label>Status Types</label>
                                <select class="selectpickerAll form-control" name="Smsinteractionstatus" id="Smsinteractionstatus" ;" multiple>
                                    <option value="Notsent"> Notsent</option>
                                    <option value="Sent"> Sent</option>

                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="SMRbucketID" id="SMRbucketID" value="" />

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h5><b style="color:red">Note:- </b> This report is downloadable upto 3 Months</h5>

                <button type="button" class="btn btn-success" onclick="return clearDownloadSMRFilters(); ">&nbsp;Clear all</button>
                <button type="button" class="btn btn-success " data-dismiss="modal" id="tblFordCallhisSMRDatalogs" onclick="downloadReports('callHistory');"><i class="fa fa-cloud-download">  &nbsp;&nbsp;Download</i></button>
            </div>
        </div>

    </div>
</div>

 
@section scripts
        {
    <script>
        var reportName;

        $(document).ready(function () {
            smrselectallfilters();
            $(".datepickerfrom").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                maxDate: 0,

                onSelect: function () {
                    var datepickerto = $('.datepickerto');
                    var startDate = $(this).datepicker('getDate');
                    var minDate = $(this).datepicker('getDate');
                    var dt2Date = datepickerto.datepicker('getDate');
                    //difference in days. 86400 seconds in day, 1000 ms in second
                    var dateDiff = (dt2Date - minDate) / (86400 * 1000);

                    startDate.setDate(startDate.getDate() + 30);
                    if (dt2Date == null || dateDiff < 0) {
                        datepickerto.datepicker('setDate', minDate);
                    }
                    else if (dateDiff > 30) {
                        datepickerto.datepicker('setDate', startDate);
                    }
                    //sets dt2 maxDate to the last day of 30 days window
                    datepickerto.datepicker('option', 'maxDate', startDate);
                    datepickerto.datepicker('option', 'minDate', minDate);
                }
            });
            $('.datepickerto').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                maxDate: 0,

            });
            $('.selectpickerAll').multiselect({
                allSelectedText: 'All',
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 1,
                buttonWidth: '140px',
                maxHeight: 250,
                includeSelectAllOption: true
            });


            $(".SMRdownloadmodalclick").click(function () {

                var my_id_value = $(this).data('id');

                document.getElementById('lblsmrcalldatefrom').innerHTML = 'CallDate From';
                document.getElementById('lblsmrcalldateto').innerHTML = 'CallDate To';

                if (my_id_value == "1" || my_id_value == "2") {
                    if (my_id_value == "1") {
                        document.getElementById("SMRdwnldmodaltitle").innerHTML = "Call History Logs Filters";

                    }
                    if (my_id_value == "2") {
                        document.getElementById("SMRdwnldmodaltitle").innerHTML = "Call Summary Filters";
                    }
                    $('#smrcalldateDiv').css({ 'display': 'block' });
                    $('#smrcampaignDiv').css({ 'display': 'block' });
                    $('#smrworkshopDiv').css({ 'display': 'block' });
                    $('#smrcreDiv').css({ 'display': 'block' });
                    $('#smrsmssendtypeDiv').css({ 'display': 'none' });
                    $('#smrstatustypeDiv').css({ 'display': 'none' });
                     }
                else if (my_id_value == "3") {
                    document.getElementById("SMRdwnldmodaltitle").innerHTML = "SMS Interaction Filters";
                    document.getElementById('lblsmrcalldatefrom').innerHTML = 'SMS From Date';
                    document.getElementById('lblsmrcalldateto').innerHTML = 'SMS To Date';
                    $('#smrcalldateDiv').css({ 'display': 'block' });
                    $('#smrcampaignDiv').css({ 'display': 'none' });
                    $('#smrworkshopDiv').css({ 'display': 'none' });
                    $('#smrcreDiv').css({ 'display': 'block' });
                    $('#smrsmssendtypeDiv').css({ 'display': 'block' });
                    $('#smrstatustypeDiv').css({ 'display': 'block' });
                }

                $(".modal-body #SMRbucketID").val(my_id_value);
            });


        });


        function downloadReports(downloadType) {

            var reportId, reportName;
            reportId = $('#SMRbucketID').val();
            var name = $("#SMRdwnldmodaltitle").text();
            reportName = name.replace(/[\. ,:-]+/g, "")
            var connectionId = $.connection.hub.id;
            var smsTYpe_list = $('#Smsinteractiontype option:selected').toArray().map(item => item.value).join();
            var smsStatus_list = $('#Smsinteractionstatus option:selected').toArray().map(item => item.value).join();
            var cre_list = $('#smrcre option:selected').toArray().map(item => item.value).join();
            var workshope_list = $('#smrWorkshop option:selected').toArray().map(item => item.value).join();
            var campaign_list = $('#smrcampaign option:selected').toArray().map(item => item.value).join();
            var callfromDate = $('#smrfromdate').val();
            var calltoDate = $('#smrtodate').val();

            if (callfromDate == "" || calltoDate == "") {
                Lobibox.notify('warning', {
                    msg: 'Please Select  From and To Date Filters.'
                });
                return false;
            }
            downloadFilterLists = { reportId: reportId, workshopLists: workshope_list, campaignLists: campaign_list, creLists: cre_list, callfromDate: callfromDate, calltoDate: calltoDate, reportName: reportName, smstypeLists: smsTYpe_list, smsstatusLists: smsStatus_list, connectionId: connectionId }


            $.when(getSMRReports(downloadFilterLists)).then
                (function successHandler(res) {
                    console.log(res);
                    if (res.success == true) {
                        window.location = siteRoot + "/SMRLive/DownloadSMRALL/?reportName=" + reportName;
                    }
                    else if (res.success == false) {
                        Lobibox.notify('warning', {
                            continueDelayOnInactiveTab: true,
                            msg: res.error
                        });
                        return false;
                    }
                    else {
                        console.log(res.error);
                    }

                },
                    function errorHandler(res) {
                        console.log(err);
                    });
          

        }
        function getSMRReports(downloadFilterLists) {
            return $.ajax({
                url: siteRoot + '/SMRLive/smrDownloadFilter/',
                type: "post",
                data: { SMRdownloadFilters: JSON.stringify(downloadFilterLists) },
            });
        }


        function smrselectallfilters() {
            $("#Smsinteractionstatus").multiselect('selectAll', false);
            $("#Smsinteractionstatus").multiselect('updateButtonText');
            $("#Smsinteractiontype").multiselect('selectAll', false);
            $("#Smsinteractiontype").multiselect('updateButtonText')
            $("#smrcre").multiselect('selectAll', false);
            $("#smrcre").multiselect('updateButtonText')
            $("#smrWorkshop").multiselect('selectAll', false);
            $("#smrWorkshop").multiselect('updateButtonText');
            $("#smrcampaign").multiselect('selectAll', false);
            $("#smrcampaign").multiselect('updateButtonText')

        }
        function clearDownloadSMRFilters() {
            smrselectallfilters();
            $('#smrfromdate').val('');
            $('#smrtodate').val('');


            $('.callToDropdown').datepicker("destroy");
        }

    </script>
}


